.carousel-item { 
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.carousel-item .title {
    position: absolute;
    top: 33%;
    color: white;
    z-index: 1;
}

.carousel-item .description {
    position: absolute;
    top: 50%;
    text-align: center;
    width:50%;
    white-space: normal;
    word-wrap: break-word;
    color: white;
    z-index: 1;
}

.carousel-item .link {
    position: absolute;
    top: 70%;
    color: yellow;
    z-index: 1;
}

.carousel-item img {
    filter: brightness(50%);
}

.carousel-item .title-mobile {
    position: absolute;
    top: 20%;
    color: white;
    z-index: 1;
}

.carousel-item .description-mobile {
    position: absolute;
    font-size: .6rem;
    top: 50%;
    text-align: center;
    width:80%;
    white-space: normal;
    word-wrap: break-word;
    color: white;
    z-index: 1;
}

.carousel-item .link-mobile {
    position: absolute;
    font-size: .6rem;
    top: 75%;
    color: yellow;
    z-index: 1;
}
