.centered {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

/*center h1*/
.h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80pt;
  }

/*center h3*/
.h3{
    position: relative;
    text-align: center;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
  }