@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Defines the primary and secondary colors as CSS variables for use in rgb color space function.
    Example for primary color rgb(131 38  144 / <alpha-value>) where alpha-value will be provided by tailwindcss opacity modifiers (if used) */
    --color-primary: 62 59 135;
    --color-primary-light: 103 99 199;
    --color-primary-dark: 10 8 58;

    --color-secondary-light: 221 199 237;
    --color-secondary-dark: 134 63 186;
  }
  
  html {
    @apply text-white;
  }
  
  
}

body {
  font-size: 14pt;
  @apply bg-primary-dark;
}

h1 {
  font-size: 38pt;
}

h2 {
  font-size: 28pt;
}

h3 {
  font-size: 24pt;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h4 {
  font-size: 22pt;
  font-weight: 600;
}

h5 {
  font-size: 20pt;
  font-weight: normal;
}

input[type = 'text'] {
  @apply text-xl rounded-3xl border-2 border-[#AAAAAA] bg-[#EEEEEE] w-full px-4 py-1 text-black;
}

textarea[type = 'textarea'] {
  @apply text-xl rounded-3xl border-2 border-[#AAAAAA] bg-[#EEEEEE] w-full px-4 py-1 text-black;
}

select{
  @apply text-xl rounded-3xl border-2 border-[#AAAAAA] bg-[#EEEEEE] w-full px-4 py-1 text-black;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.drop-down {
  position: relative;
}

 .arrow-down {
     pointer-events: none;
  position: absolute;
  right: 30px;
  top: 12px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;

  border-top: 18px solid #CCCCCC;
}
