.carousel{
    overflow: hidden;
    position: relative;
}

.inner {
    white-space: nowrap;
    transition: transform 0.5s;
}

.carousel .indicatorLeft {
    position: absolute;
    top: 50%;
    right: 90%;
    z-index: 1;
    width: auto;
    height: auto;
}

.indicatorRight {
    position: absolute;
    top: 50%;
    left: 90%;
    z-index: 1;
    width: auto;
    height: auto;
}


